
<div class="conteiner">
  <div class="row bg-dark text-white">
    <nav class="navbar justify-content-end bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
          <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="logo" style="width:30px;">
        </a>
        <!-- Links -->
        <a class="navbar-brand" href="#">
            <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="logo" style="width:30px;">
          </a>
          <!-- Links -->
        <a class="navbar-brand" href="#">
            <img src="https://cdn-icons.flaticon.com/png/512/3256/premium/3256013.png?token=exp=1657893091~hmac=ba9a7277171e971879544dbfd1bace03" alt="logo" style="width:30px;">
          </a>
          <a class="navbar-brand" id="malditoBoton" href="#">
            <button type="button" class="btn btn-primary btn-sm">Login</button>
          </a>
          <a class="navbar-dark" id="nico">
            <p>Nicolas Britto</p>
          </a>
      </nav>
  </div>
<div class="container jumbotron">

  <div class="row">
    <img src="https://static9.depositphotos.com/1029473/1190/i/450/depositphotos_11900361-stock-photo-cubes-background-in-blue-toned.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">

    <div class="media  p-3">
      <img src="https://static9.depositphotos.com/1029473/1190/i/450/depositphotos_11900361-stock-photo-cubes-background-in-blue-toned.jpg"
      alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:100px;">
      <div class="media-body">
        <h4>Nicolas Britto<small><i> Estudiante Desarrollo de Software</i></small></h4>
        <p>Santa fe Argentina</p>
        <button type="button" class="btn btn-primary">Tengo interes en</button>
        <button type="button" class="btn">Añadir seccion</button>
        <button type="button" class="btn">Mas</button>
      </div>
    </div>
  </div>
